<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-4 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header">
            <figure class='img_100x100'>
              <% if signed_in? %>
                <div class='image_container'>
                  <%= image_tag post.user.avatar, alt: "avatar",class:'avatar_image' %>
                </div>
                <h3 class='card_username'><%= link_to "#{post.user.name}" %></h3>
              <% else %>
                <div class='image_container'>
                  <%= image_tag("avatar.jpg", alt: "avatar",class:'avatar_image') %>
                </div>
                <h3 class='card_username'>Anonymous</h3>
              <% end %>
            </figure>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, post_path(post), class:'text-success' %></h5>
            <p class="card-text"><%= truncate(post.description,length:100) %></p>
          </div>
          <div class="card-footer text-muted">
            <small>
              Created <%= time_ago_in_words(post.created_at) %> ago
              edited <%= time_ago_in_words(post.updated_at) %> ago
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
