<nav class="navbar navbar-expand-lg my_bg">
  <div class="logo">
    <%= link_to image_tag('logo.jpeg'), root_path %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Club members', users_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Tasks', posts_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if signed_in? %>
        <li class="nav-item">
          <%= link_to "#{current_user.name}", edit_user_registration_path,class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "logout", destroy_user_session_path,class:"nav-link", method: :delete  %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in / Sign up', new_user_session_path,  class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
