<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <div class="notice"><%= notice %></div>
    <%= render 'layouts/navigation' %>
    <div class='app_container'>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
