<!DOCTYPE html>
<html>
  <head>
    <title>Fight Club</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo.jpeg') %>
  </head>
  <body class="d-flex flex-column">
    <%= render 'layouts/navigation' %>
    <div class='app_container'>
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
